.App {
  font-size: 1.5rem;
  font: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #484848;
  min-height: 94%;
}

a:link {
  color: #616161;
}

a:visited {
  color: #424242;
}

a:hover {
  color: #757575;
}

a:active {
  color: #9E9E9E;
}
